tunnel: quotid-voice
credentials-file: /home/john/.cloudflared/<tunnel-uuid>.json

ingress:
  - hostname: v.quotid.YOUR_DOMAIN.com
    service: http://localhost:8000
  - hostname: quotid.YOUR_DOMAIN.com
    service: http://localhost:3000
  - service: http_status:404
